:root {
    --primaryColor: hsl(14, 90%, 53%);
    --primaryColorLight: hsl(14,96%, 91%);
    --bgColor:hsl(0, 0%, 100%);
    --formColor: hsl(20, 42%, 87%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --greyText: hsl(0,0,51%);
    --inputColor: hsl(330, 12, 79%);
    --cardColor: hsl(300, 3%, 94%);

    // Font ang Typography
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.6rem;
    --h2FontSize:  1.25rem;
    --h3FontSize: 1rem; 
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;
    --borderRadius: 3rem;
}

.portfolio {
    .secContainer {
        gap: 2rem;
        .leftContent {
            .grid {
                .singlePortfolio {
                    gap: 1rem;
                    align-items: flex-start;
                    
                    .iconDiv {
                        img {
                            width: 50px;
                            height: 50px;
                        }
                    }
                    .info {
                        h4 {
                            padding-bottom: .5rem;
                        }
                    }
                }
            }
        }

        .rightContent {
            width: 100%;
            height: 100%;
            img {
                border-radius: 20rem;
                height: 100%;
            }
        }
    }
}

//Media queries

@media screen and (min-width: 480px) {
    .portfolio {
        .secContainer {
            grid-template-columns: repeat(1, 1fr);
            .leftContent {
                .secHeading {
                    h3 {
                        font-size: var(--h2FontSize);
                    }
                    p {
                        font-size: var(--normalFontSize);
                        padding: .5rem 0;
                    }
                }

                .grid {

                    .singlePortfolio {
                        gap: 1.5rem;

                        .iconDiv {
                            img {
                                height: 60px;
                                width: 60px;
                            }
                        }

                        .info {
                            h4 {
                                padding-bottom: .5rem;
                            }
                            
                            p {
                                font-size: var(--normalFontSize);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 660px) {
    .portfolio {
        .secContainer {
            .leftContent {
                .secHeading {
                    h3 {
                        font-size: 2rem;
                    }
                    p {
                        font-size: var(--h3FontSize);
                        
                    }
                }
                .grid {
                    grid-template-columns: repeat(2, 1fr);
                }
            }

            .rightContent {
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 60%;
                    margin: auto;
                }
            }
        }
    }
}

@media screen and (min-width: 840px) {
    .portfolio {
        .secContainer {
            grid-template-columns: repeat(2, 1fr);
            .leftContent {
                .secHeading {
                    h3 {
                        font-size: var(--h2FontSize);
                    }
                    p {
                        font-size: var(--h3FontSize);
                        
                    }
                }
                .grid {
                    grid-template-columns: repeat(1, 1fr);
                    
                    .singlePortfolio {
                        gap: 1.5rem;
                    }
                }
            }

            .rightContent {
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                    margin: auto;
                }
            }
        }
    }
}

@media screen and (min-width: 1240px) {
    .portfolio {
        .secContainer {
            gap: 3rem;

            .leftContent {
                .secHeading {
                    h3 {
                        font-size: 2rem;
                    }
                    p {
                        font-size: var(--h3FontSize);
                        
                    }
                }
                .grid {
                    gap: 2.5rem;
                    margin-top: 3rem;

                    .singlePortfolio {
                        gap: 2rem;
                    }
                }
            }

            .rightContent {
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 80%;
                    margin: auto;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .portfolio {
        .secContainer {
            gap: 3rem;

            .leftContent {
                .secHeading {
                    h3 {
                        font-size: 2rem;
                    }
                    p {
                        font-size: var(--h3FontSize);
                        
                    }
                }
                .grid {
                    gap: 2.5rem;
                    margin-top: 3rem;

                    .singlePortfolio {
                        gap: 2rem;
                    }
                }
            }

            .rightContent {
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 75%;
                    margin: auto;
                }
            }
        }
    }
}